body {
    font-family: arial, helvetica;
}

.center {
    text-align: center;
    vertical-align: middle;
}

.white-link {
    color: #FFF;
}

.pink-link {
    color: #ee6e73;
}

.title {
    border-style: solid;
    display: inline-block;
    margin-top: 0px;
    border-top-width: 3px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.subtitle {
    font-size: xx-large;
}

.card-icon {
    margin: 40px 0;
    color: #ee6e73;
    font-size: 7rem;
    display: block;
}

.card-title {
    font-size: 1.7rem;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 0;
}

.card-desc {
    font-weight: 300;
}

h1 {
    font-size: 5em;
    font-family: arial,helvetica;
    color: #fff;
    margin:0;
    padding:0;
}

.intro p {
    color: #fff;
}

.section {
    text-align:center;
}

#header, #footer {
    position:fixed;
    height: 50px;
    display:block;
    width: 100%;
    background: #333;
    z-index:9;
    text-align:center;
    color: #f2f2f2;
    padding: 20px 0 0 0;
}

#header {
    top:0px;
}

#footer {
    bottom:0px;
}

#infoMenu {
    bottom: 80px;
}

#infoMenu li a {
    color: #fff;
    z-index: 999;
}
